*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild

*/*iml
gradle/
.gradle/
gradlew
gradlew.bat
.idea
local.properties
build/
*/build/
bin/
*/bin/
native-libs
swidle.pl
*/.DS_Store
*.apk
